@model uniManageSys.Models.Student

@{
    ViewBag.Title = "ShowStudent";
    Layout = null;
}

<h2>@Model.userName's Data</h2>

        <fieldset>
            <legend>Student</legend>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.fullName)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.fullName)
            </div>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.userName)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.userName)
            </div>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.Email)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.Field)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Field)
            </div>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.Gender)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Gender)
            </div>

            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.Phone)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Phone)
            </div>

            <div class="display-field">
                <b>@Html.DisplayNameFor(model => model.ImageUrl)</b>
            </div>
            <div class="display-field">
                <img src=""/>
            </div>
        </fieldset>


